@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');


/* Общие стили */
body {
  box-sizing: border-box;
  margin: 0;
  background-color: #fff;
}

.container {
  width: 1170px;
  margin: auto;
  margin-top: 200px;
}


/* Timings for animation */

:root {
  --delay_head_down: 1s;

  --delay_cat_jump: 15.3s;

  --dalay_ears_down: 1s;
  --delay_eye_twink: 3s;
  --delay_head_jump: 15.1s;

  --dela_paw_kick: 5s;
  --delay_paw_down: 15s;
  --delay_paw_forward: 15.4s;
  --delay_feet_jump: 15.34s;

  --delay_tail_wag: 2s;
  --delay_tail_jump: 15s;

  --delay_logo: 6.6s;
}


/* cat */

.cat {
  width: 200px;
  height: 100px;

  position: relative;

  animation: cat_jump 1s linear var(--delay_cat_jump) forwards;
}

@keyframes cat_jump {
  0% {
    transform: translate(20px, -50px) rotate(-29deg);
  }
  50% {
    transform: translate(150px, -80px) rotate(0deg);
  }
  94% {
    opacity: 1;
  }
  97% {
    opacity: 0.5;
  }
  99% {
    opacity: 0.3;
  }
  100% {
    transform: translate(280px, 100px) rotate(36deg);
    opacity: 0;
  }
}


/* head */

.cat .head {
  width: 70px;
  height: 70px;

  background-color: #000;
  border-radius: 50%;

  position: absolute;
  left: 126px;
  z-index: 999;

  animation: head_down 0.5s ease var(--delay_head_down) forwards,
              head_jump 0.5s ease-in var(--delay_head_jump) forwards;
}

@keyframes head_down {
  100% {
    top: 12px;
  }
}

@keyframes head_jump {
  100% {
    top: 0px;
    transform: rotate(-30deg);
  }
}

.head .ear_left,
.head .ear_right {
  width: 15px;
  height: 15px;

  background-color: #000;

  position: absolute;
  top: -2px;
}

.head .ear_left {
  margin-left: 10px;
  margin-top: 2px;

  transform: skew(30deg) rotate(25deg);

  animation: ears_left_down 0.2s ease-in var(--dalay_ears_down) forwards;
}

@keyframes ears_left_down {
  100% {
    top: 5px;
    transform: skew(50deg) rotate(10deg);
  }
}

.head .ear_right {
  margin-left: 44px;
  margin-top: 2px;

  transform: skew(-30deg) rotate(-25deg);

  animation: ears_right_down 0.2s ease-in var(--dalay_ears_down) forwards;
}

@keyframes ears_right_down {
  100% {
    margin-top: 3px;
    margin-left: 46px;

    transform: skew(40deg, 35deg) rotate(30deg);
  }
}

.head .eyes {
  overflow: hidden;
}

.head .eye_left,
.head .eye_right {
  width: 10px;
  height: 10px;

  background: #fff;
  border-radius: 50%;
  margin-top: 23px;

  float: left;

  animation: eyes 1s ease var(--delay_eye_twink);
}

.head .eye_left {
  margin-left: 22px;
}

.head .eye_right {
  margin-left: 16px;
}

@keyframes eyes {
  0% {
    height: 10px;
    transform: translateY(0);
  }
  50% {
    height: 5px;
    transform: translateY(4px);
  }
  100% {
    height: 10px;
    transform: translateY(0);
  }
}


/* body */

.cat .body {
  width: 120px;
  height: 70px;
  background: #000;
  border-radius: 50px;

  position: absolute;

  top: 32px;
  left: 50px;
}

.body svg {
  animation: circle 0.40s ease-in-out 12s;
  animation-iteration-count: 3;
}

@keyframes circle {
  0% { /* выводим за пределы body */
    transform: translate(-2px, -2px);
  }
  25% { /* ↑ */
    transform: translate(-2px, -4px);
  }
  50% {  /* ← */
    transform: translate(-4px, -4px);
  }
  75% { /* ↓ */
    transform: translate(-4px, -2px);
  }
  100% { /* → */
    transform: translate(-2px, -2px);
  }
}


.body .paw_left,
.body .paw_right {
  width: 50px;
  height: 15px;

  background: #000;
  border-radius: 10px;

  position: absolute;
  bottom: 12px;

  transform: rotateZ(45deg);
}

.body .paw_left {
  margin-left: 43px;

  right: 25px;

  animation: paw_down 0.3s ease-in-out var(--delay_paw_down),
              paw_forward_left 0.3s linear var(--delay_paw_forward) forwards;
}

.body .paw_right {
  right: 11px;

  animation: paw_kick 9s ease-in-out var(--dela_paw_kick),
              paw_down 0.3s ease-in-out var(--delay_paw_down),
              paw_forward_right 0.3s linear var(--delay_paw_forward) forwards;
}

@keyframes paw_kick {
  0% {
    right: 0px;
    bottom: 6px;

    transform: rotateZ(35deg);
  }
  5% {
    right: 0px;

    transform: rotateZ(20deg);
  }


  10% { /* forward_1 */
    right: -10px;

    transform: rotateZ(15deg);
  }
  15% { /* back */
    right: -3px;

    transform: rotateZ(15deg);
  }
  20% { /* forward_2 */
    right: -10px;

    transform: rotateZ(15deg);
  }
  25%, 30% { /* STOP */
    right: 5px;

    transform: rotateZ(15deg);
  }


  35% { /* forward_3 */
    right: -15px;

    transform: rotateZ(14deg);
  }
  40% { /* back */
    right:  -8px;

    transform: rotateZ(20deg);
  }
  45% { /* forward_4 */
    right: -15px;

    transform: rotateZ(20deg);
  }
  50%, 55% { /* STOP */
    right: 5px;

    transform: rotateZ(20deg);
  }


  60% { /* forward_5 */
    right: -20px;
    bottom: 6px;

    transform: rotateZ(20deg);
  }
  65% { /* back */
    right: -10px;

    transform: rotateZ(15deg);
  }
  70% { /* forward_6 */
    right: -20px;

    transform: rotateZ(15deg);
  }
  75%, 80%, 85%, 90%, 92% { /* STOP */
    right: 17px;
    bottom: 2px;
    transform: rotateZ(10deg);
  }


  95% { /* kick */
    right: -30px;

    transform: rotateZ(10deg);
  }
  97% { /* kick */
    right: -30px;
    bottom: 2px;

    transform: rotateZ(10deg);
  }
  100% { /* back */
    right: 17px;

    transform: rotateZ(10deg);
  }
}

@keyframes paw_down {
  5% {
    bottom: 5px;

    transform: rotateZ(45deg);
  }
  25% {
    bottom: 0px;

    transform: rotateZ(50deg);
  }
  50% {
    bottom: -3px;

    transform: rotateZ(50deg);
  }
  75% {
    bottom: -5px;

    transform: rotateZ(60deg);
  }
  100% {
    bottom: -7px;

    transform: rotateZ(70deg);
  }
 }

 @keyframes paw_forward_left {
  100% {
    right: -11px;
    bottom: -8px;

    transform: rotateZ(30deg);
  }
 }

 @keyframes paw_forward_right {
  100% {
    right: -15px;
    bottom: 0;

    transform: rotateZ(20deg);
  }
 }


.body .feet_left,
.body .feet_right {
  width: 50px;
  height: 15px;

  background: #000;
  border-radius: 10px;

  position: absolute;
  bottom: -3px;
  left: 6px;

  animation: feet_jump 0.3s ease-in-out var(--delay_feet_jump) forwards;
}

.body .feet_left {
  margin-bottom: 13px;
}


@keyframes feet_jump {
  0% {
    transform: translate(0px,10px) rotate(30deg);
  }
  10% {
    transform: translate(0px, 0px) rotate(50deg);
  }
  30% {
    transform: translate(0px, 5px) rotate(100deg);
  }
  60% {
    transform: translate(-5px, 5px) rotate(150deg);
  }
  100% {
    transform: translate(-30px, 0px) rotate(165deg);
  }
}


 /* tail */

.cat .tail {
  width: 120px;
  height: 20px;

  background-color: #000;
  border-radius: 10px;

  position: absolute;
  top: 82px;

  animation: tail 3s ease var(--delay_tail_wag),
              tail_jump 1s ease var(--delay_tail_jump) forwards;
}

@keyframes tail {
  from {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }
}

@keyframes tail_jump {
  from {

    transform: translateY(-25px) rotate(15deg);
  }
  to {
    transform: translateY(-30px) rotate(12deg)
  }
}


/* logo */

.cat span {
  font-family: Delius Swash Caps, cursive;
  font-size: 40px;
  color: #004466;
  line-height: 0.5;

  position: absolute;
  bottom: 0;
  left: 171px;
  z-index: 9999;

  animation: logo 8s linear var(--delay_logo) forwards;
}

@keyframes logo {
  0% {
    left: 180px;
  }

  29% {
    left: 180px;
  }
  30% {
    left: 186px;
    transform: rotate(0deg);
  }

  54% {
    left: 186px;
    transform: rotate(0deg);
  }
  60% {
    left: 192px;
    transform: rotate(5deg);
  }

 85% {
    bottom: 0;
    left: 192px;
    transform: rotate(5deg);
  }

  94% {
    opacity: 1;
  }
  97% {
    opacity: 0.8;
  }
  99% {
    opacity: 0.5;
  }
  100% {
    bottom: -100px;
    left: 300px;
    transform: rotate(140deg);

    opacity: 0;
  }
}
